
/* Fonts */
@font-face {
  font-family: GrundfosFont;
  src: url('../fonts/GrundfosTheSansV2OT-3L.otf');
}
@font-face {
  font-family: GrundfosFontHead;
  src: url('../fonts/GrundfosTheSansV2OT-9BL.otf');
}

/* General styles */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-family: GrundfosFont;
  background: url('../images/background-img.jpg') no-repeat;
  background-size: cover;
}
h2{
  font-family: GrundfosFontHead;
  font-size: 2em;
  color: #11497A;
}
h3{
  font-family: GrundfosFontHead;
  font-size: 1.3em;
  color: #11497A;
}
* img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
* button{
  border:none;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}
footer{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
/* Header styles */
.header-main {
  width: 100%;
  max-width: 1440px;
  margin: -3px auto;
}
.signup-header img{
  width: 100%;
  margin-bottom: 2%;
}

/* Page elements */
.wrapper {
  width: 80%;
  margin: 0 auto;
}
.main-page{
  max-width: 1440px;
  margin: 0 auto;
}
/* slides */
.slider{
  position: relative;
}


.caption-head{
  position: absolute;
  font-family: GrundfosFontHead;
  font-size: 1.2em;
  color: white;
}
.caption{
  position: absolute;
  font-family: GrundfosFont;
  font-size: 1.2em;
  color: white;
}
.slide-btn{
  position: absolute;
  width: 150px;
  height: 40px;
  border: none;
  font-family: GrundfosFont;
  font-size: 1.2em;
  color: white;
}
.sign-up-page {
  width: 100%;
  height: auto;
  display: flex;
}
.side-text{
  flex-basis: 30%;
  min-width: 360px;
  float: left;
  color: #11497A;
}
.bulletpoint{
  margin: 1% 0;
  margin-left: 5%;
  font-size: 1.3em;
  font-style: italic;
  list-style:disc;
}
.explanation, .nudge {
  margin: 4% 0;
  font-family: GrundfosFont;
  text-align: justify;
  font-size: 1.3em;
  line-height: 1.3em;
  color: #11497A;
}
.nudge{
  opacity: 0;
  transition: all 0.5s;
}

/* Form styling */
.sign-up-form{
  flex-basis: 70%;
}
#sign-up, #sign-up-p2 {
  width: 50%;
  min-width: 360px;
  max-width: 460px;
  height: auto;
  margin: 5% auto;
  background-color: white;
  color: #4F799E;
}
#sign-up-p2 {
  display: none;
}
.register-header {
  position: relative;
  border-top: 3px solid #11497B;
  background: #dedede;
  width: 100%;
  font-family: GrundfosFontHead;
  height: 40px;
  margin-bottom: 2%;
  text-align: center;
  font-size: 1.2em;
  padding-top: 4%;
  text-transform: uppercase;
  color: #0E3A62;
}
.page-number{
  position: absolute;
  font-size: 0.7;
  font-family: GrundfosFont;
  right: 2%;
  text-transform: lowercase;
}
.bonus-info {
  font-size: 0.8em;
  font-style: italic;
}
.sign-up-form label {
  width: 92%;
  margin-left: 4%;
}
input{
  padding-left: 1%;
}
.sign-up-form input, .country-select {
  border-radius: 2px;
  border: 1px solid #ccc;
  background: #F2F2F2;
  height: 25px;
  width: 92%;
  margin-left: 3.5%;
}
.country-select{
  height: 30px;
  width: 93%;
}
option {
  font-size: 1.1em;
  color: #4F799E;
}
#password {
  width: 80%;
  float: left;
  margin-bottom: 4%;
}
#eye, #eye2 {
  width: 30px;
  height: auto;
  float: left;
  margin: 3px 0 0 2%;
  cursor: pointer;
  transform: rotate(-5deg);
}
#eye2 {
  display: none;
}

/* buttons */
.sign-up-form button {
  font-family: GrundfosFont;
  font-size: 1.2em;
  border: none;
  right: 4%;
  width: 30%;
  height: 40px;
  background: grey;
  bottom: 0;
  color: white;
  cursor: pointer;
  transition: all 500ms;
}
.read, .create{
  position: absolute;
  width: 200px;
  border:none;
  bottom: 2%;
}
#next-page{
  margin: 40px 0 5px 65%;
}
#back{
  margin: 40px 0 5px 35px;
  background: #0068B4
}
#create-account{
  margin: 40px 0 5px 22%;
  background: #0068B4
}
/* Text beneath buttons */
.small-note {
  text-align: right;
  bottom: 0;
  right: 4%;
  margin: 0 15px 2% 0;
  font-family: GrundfosFont;
  font-size: 0.8em;
}
.small-note a {
  color: #4F799E;
}

/* Legal note */
.legal-info {
  width: 92%;
  margin: 2% 0 0 4%;
  font-size: 0.8em;
  font-style: italic;
}
.legal-info input {
  width: 4%;
  float: left;
}
#info-icon {
  max-width: 15px;
  margin-right: 4%;
  float: right;
}
#info-icon:hover {
  filter: drop-shadow(2px 2px 2px gray);
  cursor: pointer;
}
/* Legal pop-up when clicking on info icon !! UNFINISHED !! */
.permission{
  display: none;
}
/* Styles for jquery library Select2 */
.sign-up-form .select2 {

  margin: 0 0 2% 4%;
  border-radius: 2px;
  border: 1px solid #ccc;
  background: #F2F2F2;
  font-size: 1.1em;
  margin-bottom: 4%;
}
/* Override Select2 input field styles */
.select2-selection--multiple {
  border-radius: 2px !important;
  border: 1px solid #ccc !important;
  border: none !important;
  background: none !important;
  min-height: 20px !important;
  height: auto !important;
}
.page2-main{
  max-width: 1440px;
  margin: 0 auto;
}
.popup-nudge{
  position: fixed;
  bottom: -25%;
  width: 80%;
  margin: 0 auto;
  filter: drop-shadow(5px 5px 5px #000);
  transition: all 1s;
}
.popup-nudge img{
  max-width: 100%;
}
.close{
  position: absolute;
  right: 15px;
  top: 10px;
  border: none;
  background: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}
.pop-text{
  padding: 6% 5% 0 5%;
  font-style: italic;
}
.create{
  position: absolute;
  bottom: 35px;
  left: 30px;
  width: 135px;
  padding: 2% ;
  color: white;
  border: none;
  font-size: .8em;
  background: #4aa22c;
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 480px){

  .sign-up-page{
    display: block;
    margin-left: -12.5%;
  }
  .side-text{
    display: none;
  }

}
